
.container{
  background-color: gray;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  }


.hole{
  height: 25vh;
  width: 25vh;
  margin-left: 5vh;
  background-color: green;
}